<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>消息</title>
    <link type="text/css" rel="stylesheet" href="css/notification_light.css">
    <link type="text/css" rel="stylesheet" href="css/markdown_light.css">
</head>
<body>

<div id="list">
    <div class="message" v-for="message of messages">
        <div class="item">
            <div class="title">
                <div class="avatar-container" v-on:click="openUser(message.author.loginname)">
                    <img class="avatar" v-bind:src="message.author.avatar_url">
                </div>
                <div class="info-container">
                    <div class="line">
                        <div class="loginname text-primary">
                            {{message.author.loginname}}
                        </div>
                        <div class="time" v-bind:class="{'text-secondary': message.has_read, 'text-accent': !message.has_read}">
                            {{message.create_at | recentlyTimeText}}
                        </div>
                    </div>
                    <div class="line">
                        <div class="action text-secondary">
                            {{message | messageAction}}
                        </div>
                        <div class="badge-dot" v-if="!message.has_read"></div>
                    </div>
                </div>
            </div>
            <div class="content" v-if="message.reply && message.reply.id">
                {{{message.reply.rendered_content}}}
            </div>
            <div class="reference"  v-on:click="openTopic(message.topic.id)">
                <div class="topic-title text-secondary">话题：{{message.topic.title}}</div>
            </div>
        </div>
        <div class="deep-line"></div>
    </div>
</div>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/vue-1.0.22.min.js"></script>
<script src="js/notification.js"></script>

</body>
</html>