@font-face {
    font-family: octicons-anchor;
    src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff');
}

.markdown-text {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.markdown-text a {
    background-color: transparent;
}

.markdown-text a:active,
.markdown-text a:hover {
    outline: 0;
}

.markdown-text strong {
    font-weight: bold;
}

.markdown-text h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.markdown-text img {
    border: 0;
}

.markdown-text hr {
    box-sizing: content-box;
    height: 0;
}

.markdown-text pre {
    overflow: auto;
}

.markdown-text code,
.markdown-text kbd,
.markdown-text pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.markdown-text input {
    color: inherit;
    font: inherit;
    margin: 0;
}

.markdown-text html input[disabled] {
    cursor: default;
}

.markdown-text input {
    line-height: normal;
}

.markdown-text input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-text table {
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown-text td,
.markdown-text th {
    padding: 0;
}

.markdown-text * {
    box-sizing: border-box;
}

.markdown-text input {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.markdown-text a {
    color: #4078c0;
    text-decoration: none;
}

.markdown-text a:hover,
.markdown-text a:active {
    text-decoration: underline;
}

.markdown-text hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.markdown-text hr:before {
    display: table;
    content: "";
}

.markdown-text hr:after {
    display: table;
    clear: both;
    content: "";
}

.markdown-text h1,
.markdown-text h2,
.markdown-text h3,
.markdown-text h4,
.markdown-text h5,
.markdown-text h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.markdown-text h1 {
    font-size: 30px;
}

.markdown-text h2 {
    font-size: 21px;
}

.markdown-text h3 {
    font-size: 16px;
}

.markdown-text h4 {
    font-size: 14px;
}

.markdown-text h5 {
    font-size: 12px;
}

.markdown-text h6 {
    font-size: 11px;
}

.markdown-text blockquote {
    margin: 0;
}

.markdown-text ul,
.markdown-text ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-text ol ol,
.markdown-text ul ol {
    list-style-type: lower-roman;
}

.markdown-text ul ul ol,
.markdown-text ul ol ol,
.markdown-text ol ul ol,
.markdown-text ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-text dd {
    margin-left: 0;
}

.markdown-text code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.markdown-text pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-text .select::-ms-expand {
    opacity: 0;
}

.markdown-text .octicon {
    font: normal normal normal 16px/1 octicons-anchor;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.markdown-text .octicon-link:before {
    content: '\f05c';
}

.markdown-text>*:first-child {
    margin-top: 0 !important;
}

.markdown-text>*:last-child {
    margin-bottom: 0 !important;
}

.markdown-text a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-text .anchor {
    display: inline-block;
    padding-right: 2px;
    margin-left: -18px;
}

.markdown-text .anchor:focus {
    outline: none;
}

.markdown-text h1,
.markdown-text h2,
.markdown-text h3,
.markdown-text h4,
.markdown-text h5,
.markdown-text h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.markdown-text h1 .octicon-link,
.markdown-text h2 .octicon-link,
.markdown-text h3 .octicon-link,
.markdown-text h4 .octicon-link,
.markdown-text h5 .octicon-link,
.markdown-text h6 .octicon-link {
    color: #000;
    vertical-align: middle;
    visibility: hidden;
}

.markdown-text h1:hover .anchor,
.markdown-text h2:hover .anchor,
.markdown-text h3:hover .anchor,
.markdown-text h4:hover .anchor,
.markdown-text h5:hover .anchor,
.markdown-text h6:hover .anchor {
    text-decoration: none;
}

.markdown-text h1:hover .anchor .octicon-link,
.markdown-text h2:hover .anchor .octicon-link,
.markdown-text h3:hover .anchor .octicon-link,
.markdown-text h4:hover .anchor .octicon-link,
.markdown-text h5:hover .anchor .octicon-link,
.markdown-text h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-text h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.markdown-text h1 .anchor {
    line-height: 1;
}

.markdown-text h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.markdown-text h2 .anchor {
    line-height: 1;
}

.markdown-text h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.markdown-text h3 .anchor {
    line-height: 1.2;
}

.markdown-text h4 {
    font-size: 1.25em;
}

.markdown-text h4 .anchor {
    line-height: 1.2;
}

.markdown-text h5 {
    font-size: 1em;
}

.markdown-text h5 .anchor {
    line-height: 1.1;
}

.markdown-text h6 {
    font-size: 1em;
    color: #777;
}

.markdown-text h6 .anchor {
    line-height: 1.1;
}

.markdown-text p,
.markdown-text blockquote,
.markdown-text ul,
.markdown-text ol,
.markdown-text dl,
.markdown-text table,
.markdown-text pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-text hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

.markdown-text ul,
.markdown-text ol {
    padding-left: 2em;
}

.markdown-text ul ul,
.markdown-text ul ol,
.markdown-text ol ol,
.markdown-text ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-text li>p {
    margin-top: 16px;
}

.markdown-text dl {
    padding: 0;
}

.markdown-text dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.markdown-text dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-text blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.markdown-text blockquote>:first-child {
    margin-top: 0;
}

.markdown-text blockquote>:last-child {
    margin-bottom: 0;
}

.markdown-text table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.markdown-text table th {
    font-weight: bold;
}

.markdown-text table th,
.markdown-text table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.markdown-text table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.markdown-text table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown-text img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.markdown-text code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

.markdown-text code:before,
.markdown-text code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.markdown-text pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-text .highlight {
    margin-bottom: 16px;
}

.markdown-text .highlight pre,
.markdown-text pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.markdown-text .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-text pre {
    word-wrap: normal;
}

.markdown-text pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-text pre code:before,
.markdown-text pre code:after {
    content: normal;
}

.markdown-text kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-text .pl-c {
    color: #969896;
}

.markdown-text .pl-c1,
.markdown-text .pl-s .pl-v {
    color: #0086b3;
}

.markdown-text .pl-e,
.markdown-text .pl-en {
    color: #795da3;
}

.markdown-text .pl-s .pl-s1,
.markdown-text .pl-smi {
    color: #333;
}

.markdown-text .pl-ent {
    color: #63a35c;
}

.markdown-text .pl-k {
    color: #a71d5d;
}

.markdown-text .pl-pds,
.markdown-text .pl-s,
.markdown-text .pl-s .pl-pse .pl-s1,
.markdown-text .pl-sr,
.markdown-text .pl-sr .pl-cce,
.markdown-text .pl-sr .pl-sra,
.markdown-text .pl-sr .pl-sre {
    color: #183691;
}

.markdown-text .pl-v {
    color: #ed6a43;
}

.markdown-text .pl-id {
    color: #b52a1d;
}

.markdown-text .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8;
}

.markdown-text .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold;
}

.markdown-text .pl-ml {
    color: #693a17;
}

.markdown-text .pl-mh,
.markdown-text .pl-mh .pl-en,
.markdown-text .pl-ms {
    color: #1d3e81;
    font-weight: bold;
}

.markdown-text .pl-mq {
    color: #008080;
}

.markdown-text .pl-mi {
    color: #333;
    font-style: italic;
}

.markdown-text .pl-mb {
    color: #333;
    font-weight: bold;
}

.markdown-text .pl-md {
    background-color: #ffecec;
    color: #bd2c00;
}

.markdown-text .pl-mi1 {
    background-color: #eaffea;
    color: #55a532;
}

.markdown-text .pl-mdr {
    color: #795da3;
    font-weight: bold;
}

.markdown-text .pl-mo {
    color: #1d3e81;
}

.markdown-text kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-text:before {
    display: table;
    content: "";
}

.markdown-text:after {
    display: table;
    clear: both;
    content: "";
}

.markdown-text .task-list-item {
    list-style-type: none;
}

.markdown-text .task-list-item+.task-list-item {
    margin-top: 3px;
}

.markdown-text .task-list-item input {
    margin: 0 0.35em 0.25em -1.6em;
    vertical-align: middle;
}

.markdown-text :checked+.radio-label {
    z-index: 1;
    position: relative;
    border-color: #4078c0;
}
