* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
}

.text-primary {
    color: #ffffff;
}

.text-secondary {
    color: #cccccc;
}

.text-accent {
    color: #80bd01;
}

.tag-normal {
    padding: 1px 4px;
    color: #cccccc;
    font-size: 12px;
    background-color: #555555;
    border-radius: 4px;
}

.tag-accent {
    padding: 1px 4px;
    color: #ffffff;
    font-size: 12px;
    background-color: #80bd01;
    border-radius: 4px;
}

.icon-button {
    padding: 8px;
}

.icon-text {
    padding: 8px 8px 8px 0;
    font-size: 14px;
}

.deep-line {
    width: 100%;
    height: 1px;
    background-color: #666666;
}

.item-gap {
    width: 100%;
    height: 8px;
}

.header {
    width: 100%;
    height: auto;
    background-color: #3c3c3c;
    box-shadow: 0 1px 2px #222222;
}

.header .tab-good {
    position: absolute;
    width: auto;
    height: 40px;
    top: 16px;
    right: 16px;
}

.header .title {
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}

.header .top-container {
    padding-left: 16px;
    padding-right: 16px;
}

.header .top-container .left {
}

.header .top-container .center {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.header .top-container .right {
}

.header .top-container .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #eeeeee;
}

.header .top-container .line1 {
}

.header .top-container .line2 {
    margin-top: 4px;
}

.header .top-container .loginname {
    font-size: 16px;
}

.header .top-container .create-time {
    font-size: 14px;
}

.header .top-container .dot {
    font-size: 14px;
}

.header .top-container .visit-count {
    font-size: 14px;
}

.header .markdown-container {
    padding: 16px;
}

.list {
    width: 100%;
    height: auto;
    background-color: #3c3c3c;
    box-shadow: 0 1px 2px #222222;
}

.list .no-reply {
    padding: 24px;
    font-size: 16px;
    text-align: center;
}

.list .reply-count {
    padding: 16px;
    font-size: 16px;
}

.list .cell .main .top-container {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.list .cell .main .top-container .left {
}

.list .cell .main .top-container .center {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.list .cell .main .top-container .right1 {
}

.list .cell .main .top-container .right2 {
}

.list .cell .main .top-container .right3 {
}

.list .cell .main .top-container .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #eeeeee;
}

.list .cell .main .top-container .line1 {
}

.list .cell .main .top-container .line2 {
    margin-top: 4px;
}

.list .cell .main .top-container .loginname {
    font-size: 16px;
}

.list .cell .main .top-container .index {
    font-size: 14px;
}

.list .cell .main .top-container .dot {
    font-size: 14px;
}

.list .cell .main .top-container .create-time {
    font-size: 14px;
}

.list .cell .main .top-container .up-count {
    font-size: 14px;
}

.list .cell .main .target-position {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}

.list .cell .main .markdown-container {
    padding: 16px;
}
