* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
}

.markdown-body {
    background-color: transparent;
}

.surface {
    margin-bottom: 16px;
    background-color: white;
    box-shadow: 0 2px 2px #c8c8c8;
}

.divider {
    height: 1px;
    background-color: #0000001f;
}

.topic .content {
    padding: 16px;
}

.empty {
    color: #0000008a;
    font-size: 18px;
    text-align: center;
    line-height: 96px;
}

.replies-count {
    padding: 16px;
    color: #80BD01;
    font-size: 16px;
}

.reply .content {
    padding: 16px;
}

.bottom-space {
    height: 72px;
}
