<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cnodejs.android.md">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="org.cnodejs.android.md.app.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight">

        <activity
            android:name="org.cnodejs.android.md.display.activity.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLaunch"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.cnodejs.android.md.display.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.LoginActivity"
            android:label="@string/login"
            android:theme="@style/AppThemeLight.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.QRCodeActivity"
            android:label="@string/open_qrcode"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.TopicActivity"
            android:label="@string/topic"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.TopicCompatActivity"
            android:label="@string/topic"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.CreateTopicActivity"
            android:label="@string/new_topic"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.MarkdownPreviewActivity"
            android:label="@string/markdown_preview"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.ImagePreviewActivity"
            android:label="@string/image_preview"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.UserDetailActivity"
            android:label="@string/user_detail"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.NotificationActivity"
            android:label="@string/notification"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.NotificationCompatActivity"
            android:label="@string/notification"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.ModifyTopicSignActivity"
            android:label="@string/modify_topic_sign"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppThemeLight.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.LicenseActivity"
            android:label="@string/open_source_license"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.CrashLogActivity"
            android:label="@string/app_crash"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.cnodejs.android.md.display.activity.StandardLinkRouterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="cnodejs.org"
                    android:pathPrefix="/topic/" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="cnodejs.org"
                    android:pathPrefix="/user/" />
            </intent-filter>
        </activity>

        <!-- 友盟参数 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />

    </application>

</manifest>
